<section id="error">
    <div class="meta-container">
    <div class="title-section">
        <h1>Sadly the Eye Care Maintenance Kit has no further link.</h1>
        <h3>You can go back to my website and see through some other projects!</h3>
    </div>
    <div class="content">
        <p class="text">
            <a href="samanae.github.io/design/#projects">[Return to Projects]</a>
            This could be your project page but you keep rejecting my calls.
        </p>
    </div>
</div>
</section>