@import '../../assets/fonts.scss';

.project-card {
    position: relative;
    bottom: 0;
    width: 58dvw;
    height: 60dvh;
}
.title {
    margin: 0;
    font-size: 2rem;
    color: white;
}

a {
    text-decoration: none;
    a:visited {
        color: white;
    }
}

img {
    position: absolute;
    z-index: -2;
    top: 5rem;
    right: 0;
    width: 25dvw;
    height: auto;
    object-fit: contain;
    border-radius: 0.3rem;
    mix-blend-mode: plus-lighter;
    //box-shadow: 15px 15px 0px 1px #5A42FF; 
    opacity: 0.7;
}

.description {
    width: 30dvw;
}

.tags{
    margin-top: 1.3rem;
    min-width: 25dvw;
    max-width: 32dvw;
}

span {
    padding: 0.2rem 1rem;
    background: #5A42FF;
    border-radius: 2rem;
    margin-right: 0.3rem;
    line-height: 2rem;
    word-break: break-all;
}

.project-link {
    padding: 0 0 0.3rem 0;
    text-decoration: none;
    border-bottom: 1px solid white;
    color: white;
}

.project-link:visited {
    color: white;
}

 @media only screen and (max-width: 700px) {
.project-wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.25rem;
}

img {
    margin: -10dvh 0 10dvh 0;
    display: flex;
    position: relative;
    right: 0;
    width: 70dvw;
}

.description {
    max-height: 30dvh;
    width: 80dvw;
    overflow-x: scroll;
}
.project-card {
    position: relative;
    bottom: 0;
    width: 80dvw;
}
.information {
    display: flex;
    flex-direction: column;
}
.tags{
    display: none;
}
span {
    display: none;
}
.project-link {
    display: none;
    position: relative;
    bottom: 5dvh;
    text-align: right;
        color:#5A42FF;

}
.project-link:visited {
    color:#5A42FF;
}
 }