<div class="project-wrapper" *ngIf="projectCollection.length > 0">

    <div class="project-card">
      <a [href]="projectCollection[currentIndex].link" target="_blank">
        <img [src]="projectCollection[currentIndex].imgUrl" alt="{{ projectCollection[currentIndex].title }}">
    </a>
        <h2>{{ projectCollection[currentIndex].title }}</h2>
      <p>{{ projectCollection[currentIndex].date }}</p>
      <p>{{ projectCollection[currentIndex].description }}</p>
      
      <ul>
        <li *ngFor="let discipline of projectCollection[currentIndex].disciplines">{{ discipline }}</li>
      </ul>
  
      <a [href]="projectCollection[currentIndex].link" target="_blank">View Project</a>
    </div>