<section id="about">
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <div class="meta-container">
    <div class="title-section">
        <h1>Samia Rachid</h1>
        <h3>Looking for Work as a Frontend Developer</h3>
    </div>
    <div class="content">
        <p class="text">
            I am always open to connect. I recently graduated with a M.Sc.and am looking for opportunities to combine my skillsets in Product- and Processdevelopment as well as Design and Developmentt.
            <br />
            <br />
            See my CVs attached below for more information about me and my social media to stay connected.
        </p>
    </div>
    <a href="assets/files/Samia_Rachid_CV_DE.pdf" download="Samia-Rachid-CV-DE">[Resume German]</a><br/><br/>
    <a href="assets/files/Samia_Rachid_CV_EN.pdf" download="Samia-Rachid-CV-EN">[Resume English]</a>
    <!-- Social Media Links + Icons -->
    <div class="contact">
            <a class="socials-icon" href="https://www.linkedin.com/in/samia-rachid-998115162/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="socials-icon" href="https://www.behance.net/samiarachid" target="_blank" title="samia.rachid03@gmail.com">
            <i class="fab fa-behance"></i>
            </a>
            <a class="socials-icon" href="mailto: samia.rachid03@gmail.com" target="_blank">
            <i class="far fa-light fa-envelope"></i>                    
        </a>
            <a class="socials-icon" href="https://github.com/samanae" target="_blank">
            <i class="fab fa-github"></i>                   
        </a>                 
    </div>
</div>
</section>