<section>
    <div class="meta-container">
    <div class="title-section">
        <h1>Hello, I'm Samia</h1>
        <h3>I am a UI/UX Designer & Frontend Developer located in Köln, Germany</h3>
    </div>
    <div class="content">
        <p class="text">
            I'm a Design alumni and Frontend developer. My passion for graphic design and programming are fused together in my work.
            I have built dashboards, apps and user-friendly websites designed to drive high traffic for companies and projects. My approach is holistic and often involves a thorough investigation on the wants and needs of the client to ensure the best-tailored product.
        </p>
    </div>
</div>
</section>