@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&family=Open+Sans:wght@300;400;600&family=Poppins:wght@400;600;800&display=swap');

$title-font: inconsolata;
$title-size: 3.5rem;

$tag-font: 'Poppins', sans-serif;
$tag-size: 1.5rem;

$body-font: 'Poppins', sans-serif;